config/crm/dcagent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="isalive">
        <s:complexType/>
      </s:element>
      <s:element name="isaliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isaliveResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test">
        <s:complexType/>
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="akeeperl1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="akeeperl1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="akeeperl1Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="akeeperl2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="akeeperl2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="akeeperl2Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getdataResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isaliveSoapIn">
    <wsdl:part name="parameters" element="tns:isalive"/>
  </wsdl:message>
  <wsdl:message name="isaliveSoapOut">
    <wsdl:part name="parameters" element="tns:isaliveResponse"/>
  </wsdl:message>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test"/>
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse"/>
  </wsdl:message>
  <wsdl:message name="akeeperl1SoapIn">
    <wsdl:part name="parameters" element="tns:akeeperl1"/>
  </wsdl:message>
  <wsdl:message name="akeeperl1SoapOut">
    <wsdl:part name="parameters" element="tns:akeeperl1Response"/>
  </wsdl:message>
  <wsdl:message name="akeeperl2SoapIn">
    <wsdl:part name="parameters" element="tns:akeeperl2"/>
  </wsdl:message>
  <wsdl:message name="akeeperl2SoapOut">
    <wsdl:part name="parameters" element="tns:akeeperl2Response"/>
  </wsdl:message>
  <wsdl:message name="getdataSoapIn">
    <wsdl:part name="parameters" element="tns:getdata"/>
  </wsdl:message>
  <wsdl:message name="getdataSoapOut">
    <wsdl:part name="parameters" element="tns:getdataResponse"/>
  </wsdl:message>
  <wsdl:portType name="dcagentSoap">
    <wsdl:operation name="isalive">
      <wsdl:input message="tns:isaliveSoapIn"/>
      <wsdl:output message="tns:isaliveSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn"/>
      <wsdl:output message="tns:testSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="akeeperl1">
      <wsdl:input message="tns:akeeperl1SoapIn"/>
      <wsdl:output message="tns:akeeperl1SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="akeeperl2">
      <wsdl:input message="tns:akeeperl2SoapIn"/>
      <wsdl:output message="tns:akeeperl2SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getdata">
      <wsdl:input message="tns:getdataSoapIn"/>
      <wsdl:output message="tns:getdataSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dcagentSoap" type="tns:dcagentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isalive">
      <soap:operation soapAction="http://tempuri.org/isalive" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/test" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="akeeperl1">
      <soap:operation soapAction="http://tempuri.org/akeeperl1" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="akeeperl2">
      <soap:operation soapAction="http://tempuri.org/akeeperl2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata">
      <soap:operation soapAction="http://tempuri.org/getdata" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dcagentSoap12" type="tns:dcagentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isalive">
      <soap12:operation soapAction="http://tempuri.org/isalive" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://tempuri.org/test" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="akeeperl1">
      <soap12:operation soapAction="http://tempuri.org/akeeperl1" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="akeeperl2">
      <soap12:operation soapAction="http://tempuri.org/akeeperl2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdata">
      <soap12:operation soapAction="http://tempuri.org/getdata" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <service name="dcagent">
    <wsdl:port name="dcagentSoap" binding="tns:dcagentSoap">
      <soap:address location="https://172.20.100.19:8787/dcagent.asmx"/>
    </wsdl:port>
    <wsdl:port name="dcagentSoap12" binding="tns:dcagentSoap12">
      <soap12:address location="https://172.20.100.19:8787/dcagent.asmx"/>
    </wsdl:port>
  </service>
</wsdl:definitions>